In [11]:
import pandas as pd

fruits = [['Apple'], ['Banana'], ['Orange'], ['Tomato'], ['Watermelon']]
names = ['Type of Fruit']

df = pd.DataFrame(fruits, columns=names)
df

  Type of Fruit
0         Apple
1        Banana
2        Orange
3        Tomato
4    Watermelon

In [12]:
encoded = [[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]
headers = ['Apple', 'Banana', 'Orange', 'Tomato', 'Watermelon']

df2 = pd.DataFrame(encoded, columns=headers)
df2

   Apple  Banana  Orange  Tomato  Watermelon
0      1       0       0       0           0
1      0       1       0       0           0
2      0       0       1       0           0
3      0       0       0       1           0
4      0       0       0       0           1